@page "/counter"
@using CineMoviesWeb.Models
@using System.Dynamic

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Greeting: @greeting</p>

<button class="btn btn-primary" @onclick="OnClick">Click me</button>

@code {
    private string greeting = string.Empty;

    private async Task OnClick()
    {
        dynamic body = new ExpandoObject();
        body.greeting = "Hello from C#";
        
        greeting = await Adapter.Greet(body) ?? "No greeting";
    }

}